services:

  backend:
    container_name: backend
    build:
      context: ./backend/
      dockerfile: Dockerfile
    restart: on-failure
    env_file:
      - .env
    volumes:
      - ./backend:/app/
      # - staticfiles:/var/www/static/
      # - mediafiles:/var/www/media/
    ports:
      - "8000:8000"
    networks:
      - ft_transcendence
    depends_on:
      database:
        condition: service_healthy

  database:
    image: postgres:14
    container_name: database
    env_file:
      - .env
    networks:
      - ft_transcendence
    volumes:
      -  postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  ft_transcendence:
    name: ft_transcendence
    driver: bridge