version: "3"

services:
  # frontend:
  #   build: ./frontend
  #   ports:
  #     - "8001:8001"
  #   env_file:
  #     - .env
  #   volumes:
  #     - ./frontend:/app
  #   networks:
  #     - ft_transcendence
  #   depends_on:
  #     - backend

  backend:
    image: backend
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app/
    networks:
      - ft_transcendence
    depends_on:
      - database

  database:
    container_name: database
    build:
      context: ./database
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - ft_transcendence
    volumes:
      -  postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  ft_transcendence:
    name: ft_transcendence
    driver: bridge