<!-- menu.html -->

<div class="sidebar" id="mySidebar">
<div class="avatar-container">
    <a href="#profil">
        <img id="avatar" src="placeholder.png" alt="User Avatar" class="avatar">
    </a>
    <span id="userLogin" class="username"></span> 
</div>
<div class="links-container">
    <a href="#accueil" class="auth-link">
       <i class="fas fa-home"></i> Accueil 
    </a>
    <a href="#games_page" class="auth-link">
        <i class="fas fa-gamepad"></i> Jeux 
    </a>
    <a href="#account_settings" class="auth-link">
        <i class="fas fa-cogs"></i> Parametres
    </a>
    <a href="#friends" class="auth-link">
        <i class="fas fa-user-tie"></i> Friends     
    </a>
    <a href="#about_us" class="auth-link">
        <i class="fas fa-info-circle"></i> À propos         
    </a>  
</div>

