            /******************************style pour tout les page************************
/* CSS pour l'arrière-plan vidéo */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        #video-bg {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
/***************bouton language et deconnexion *****************************/

#menu-demo2
{
    padding:0;
    margin:0;
    list-style:none;
    text-align:right;
}
#menu-demo2 ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}
    #menu-demo2 li{
    display:inline-block;
    position:relative;
    border-radius:8px 8px 0 0;
    }
    #menu-demo2 ul li{
    display:inherit;
    border-radius:0;
    }
    #menu-demo2 ul li:hover{
    border-radius:0;
    }
    #menu-demo2 ul li:last-child{
    border-radius:0 0 8px 8px;
    }
    #menu-demo2 ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    }
    #menu-demo2 li:hover ul{
    max-height:15em;
    }
    /* background des liens menus */
    #menu-demo2 li:first-child{
    background-color: #186145;
    background-image:-webkit-linear-gradient(top, #4eb48d 0%, #012b0f 100%);
    background-image:linear-gradient(to bottom,  #4eb48d 0%, #012b0f 100%);
    }
    #menu-demo2 li:nth-child(2){
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    
    /* background des liens sous menus */
    #menu-demo2 li:first-child li{
    background:#012b0f;
    }
    #menu-demo2 li:nth-child(2) li{
    background:#333A40;
    }
    
    /* background des liens menus et sous menus au survol */
    #menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
    background:#4eb48d;
    }
    #menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
    background:#729EBF;
    }
    /* les a href */
    #menu-demo2 a{
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
    font-family:arial;
    }
    #menu-demo2 ul a{
    padding:8px 0;
    }
    #menu-demo2 li:hover li a{
    color:#fff;
    text-transform:inherit;
    }
    #menu-demo2 li:hover a, #menu-demo2 li li:hover a{
    color:#000;
    }
/* Styles CSS pour le menu latéral */
.sidebar {
    height: 100%;
    width: 250px; /* Largeur fixe par défaut */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgba(110, 111, 116, 0.5); /* Fond semi-transparent */
    color: white; /* Couleur du texte */
}

.sidebar a {
    text-decoration: none;
    display: block;
    margin-bottom: 25px; /* Espace entre les éléments */
}

.sidebar i {
    width: 50px; /* Largeur fixe des icônes */
    height: 50px; /* Hauteur fixe des icônes */
    font-size: 50px; /* Taille de police des icônes */
    line-height: 50px; /* Hauteur de ligne égale à la hauteur de l'icône */
    text-align: center; /* Centrer horizontalement */
    vertical-align: middle; /* Centrer verticalement */
    padding-left: 20px; /* Espace à gauche de l'icône */
    color: rgb(88, 117, 88);
}

.auth-link {
    color: #5e5555; /* Couleur grise */
    font-weight: bold; /* Texte en gras */
    display: inline-block;
    align-items: center; /* Aligner verticalement */
    font-size: 20px;
}

.auth-link i {
    padding-right: 70px; /* Décalage vers la gauche de l'icône */
}

/* Styles pour l'avatar */
.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; /* Espace sous l'avatar */
}

.avatar {
    width: 200px; /* Largeur fixe de l'avatar */
    height: 250px; /* Hauteur fixe de l'avatar */
    border-radius: 50%; /* Avatar circulaire */
    margin-bottom: -20px; /* Espace entre l'avatar et le nom d'utilisateur */
    border: 3px solid white; /* Bordure blanche */
}

.username {
    color: #5e5555; /* Couleur grise */
    font-weight: bold;
    font-size: 30px;
}

/* Styles pour le footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.footer p {
    font-size: 20px; /* Taille de police */
    display: inline-block;
    padding: 5px 10px; /* Padding autour du texte */
    color: #2c2a2a; /* Couleur grise */
}

@media (max-width: 768px) {
    .sidebar {
        width: 20px; /* Largeur réduite sur les écrans petits */
    }

    .sidebar i {
        width: 25px; /* Largeur réduite des icônes */
        height: 25px; /* Hauteur réduite des icônes */
        font-size: 25px; /* Taille de police réduite des icônes */
        line-height: 25px; /* Hauteur de ligne réduite */
        padding-left: 5px; /* Espace ajusté à gauche de l'icône */
    }

    .sidebar a {
        margin-bottom: 10px; /* Espace ajusté entre les éléments */
        font-size: 12px; /* Taille de texte réduite */
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 20px; /* Largeur réduite sur les écrans très petits */
    }

    .sidebar i {
        width: 20px; /* Largeur réduite des icônes */
        height: 20px; /* Hauteur réduite des icônes */
        font-size: 20px; /* Taille de police réduite des icônes */
        line-height: 20px; /* Hauteur de ligne réduite */
        padding-left: 3px; /* Espace ajusté à gauche de l'icône */
    }

    .sidebar a {
        margin-bottom: 5px; /* Espace ajusté entre les éléments */
        font-size: 10px; /* Taille de texte réduite */
    }
}
