{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcendence</title>
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
</head>
<body>
    {% csrf_token %}
        <header class="header">
            <ul id="menu-demo2">
                <li>
                    <a href="#logout">Déconnexion</a>
                </li>
                </ul>
        </header>
    <video id="video-bg" autoplay muted loop>
        <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
        <source src="{% static 'videos/video.webm' %}" type="video/webm">
        Your browser does not support the video tag.
    </video>
 
    <div class="intro">
        <div class="cards-container">
            <div class="card">
                <img src="{% static 'img/parida.jpeg' %}" alt="Avatar 1">
                <p>pmaimait</p>
            </div>
            <div class="card">
                <img src="{% static 'img/barbara.jpeg' %}" alt="Avatar 2">
                <p>blefebvr</p>
            </div>
            <div class="card">
                <img src="{% static 'img/hinda.jpeg' %}" alt="Avatar 3">
                <p>hferjani</p>
            </div>
            <div class="card">
                <img src="{% static 'img/marine.jpeg' %}" alt="Avatar 4">
                <p>mvicedo</p>
            </div>
            <div class="card">
                <img src="{% static 'img/imen.jpeg' %}" alt="Avatar 5">
                <p>imraoui</p>
            </div>
        </div>
    </div>

        <div class="footer">
            <p>&copy; ft_transcendence 2024 </p>
        </div>
    
        <div class="sidebar" id="mySidebar">
            <div class="avatar-container">
                <a href="#profil">
                    <img id="avatar" src="{{ request.user.avatar.url }}" alt="User Avatar" class="avatar">
                </a>
                 <span id="userLogin" class="username">{{request.user.username}}</span> 
            </div>
            <div class="links-container">
                <a href="#accueil" class="auth-link">
                    <i class="fas fa-home"></i> Accueil
                
                </a>
                <a href="#games_page" class="auth-link">
                    <i class="fas fa-gamepad"></i> Jeux 
                
                </a>
                <a href="#account_settings" class="auth-link">
                    <i class="fas fa-cogs"></i>  Paramètres
                
                </a>
                <a href="#friends" class="auth-link">
                    <i class="fas fa-user-tie"></i> Amis
                </a>
                <a href="#about_us" class="auth-link">
                    <i class="fas fa-info-circle"></i> A propos
                  
                </a>  
        </div>
    </body>
    </html>
