
{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ft-transcendence</title>
    <link rel="stylesheet" href="{% static 'css/accueil.css' %}">
</head>
<body>
    <body>
        <header class="header">
            <ul id="menu-demo2">
                <li><a href="#">Languages</a>
                    <ul>
                        <li><a href="/fr/">Français</a></li>
                        <li><a href="/en/">English</a></li>
                        <li><a href="/ug/">ئۇيغۇرچە</a></li>
                        <li><a href="/ar/">العربية</a></li>
                    </ul>
                </li>
                <li><a href="#">Deconnexion</a>
                </li>
                </ul>
        </header>
        <video id="video-bg" autoplay muted loop>
            <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
            <source src="{% static 'videos/video.webm' %}" type="video/webm">
            Your browser does not support the video tag.
        </video>
 
        <div class="intro">
            <h3 class="texte">Bienvenue sur notre plateforme de jeux en ligne !</h2>
            <p>Découvrez une nouvelle dimension de divertissement avec notre application unique, conçue pour combiner challenge, stratégie et amusement. Notre site est centré autour de deux jeux captivants : le Ping-Pong en 3D et un jeu de mémoire (Memory Card).</p>
            <h3 class="texte">Ping-Pong en 3D</h3>
            <p>Plongez dans l'univers excitant de notre Ping-Pong en 3D, où vous pouvez :</p>
            <ul>
                <li>Jouer à distance : Affrontez des adversaires de partout dans le monde en temps réel. Que la compétition commence !</li>
                <li>Jouer contre l'ordinateur : Testez vos compétences et entraînez-vous à maîtriser le jeu en affrontant notre intelligence artificielle avancée.</li>
                <li>Jouer sur le même ordinateur : Profitez d'un match local avec un ami sur un seul et même appareil. Idéal pour des moments conviviaux et compétitifs !</li>
            </ul>
            <h3 class="texte">Jeu de Mémoire (Memory Card)</h3>
            <p>Testez votre mémoire et améliorez votre concentration avec notre jeu de cartes Memory. Ce jeu classique, revisité pour une expérience en ligne, est parfait pour tous les âges. Relevez des défis, battez des scores et améliorez vos compétences cognitives.</p>
            <p><strong>Prêt à jouer ?</strong> Que vous soyez ici pour vous mesurer à d'autres joueurs ou simplement pour passer un bon moment, notre plateforme est prête à vous accueillir.</p>
        </div>
        <div class="footer">
            <p>&copy; ft_transcendence 2024 </p>
        </div>
    
        <div class="sidebar" id="mySidebar">
            <div class="avatar-container">
                <a href="#profil">
                    <img id="avatar" src="{{ request.user.avatar.url }}"  alt="User Avatar" class="avatar">
                </a>
                 <span id="userLogin" class="username"></span> 
            </div>
            <div class="links-container">
                <a href="#accueil" class="auth-link">
                    <i class="fas fa-home"></i>  Accueil 
                
                </a>
                <a href="#games_page" class="auth-link">
                    <i class="fas fa-gamepad"></i>  Jeux 
                
                </a>
                <a href="#account_settings" class="auth-link">
                    <i class="fas fa-cogs"></i>  Parametres
                
                </a>
                <a href="#friends" class="auth-link">
                    <i class="fas fa-user-tie"></i> Friends     
                </a>
                <a href="#about_us" class="auth-link">
                    <i class="fas fa-info-circle"></i>  À propos 
                  
                </a>
        </div>
    </body>
    </html>