{% load static %}

<!doctype html>
<html>
	<head>
		<title>Game</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style_ai.css' %}">

	</head>
	<body onload='setup();'>
    <video id="video-bg" autoplay muted loop>
      <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
      <source src="{% static 'videos/video.webm' %}" type="video/webm">
      Your browser does not support the video tag.
    </video>
		<div class="sidebar" id="mySidebar">
			<a href="#accueil" class="auth-link">
				<i class="fas fa-home"></i>  Accueil 
			
			</a>
			<a href="#game" class="auth-link">
				<i class="fas fa-gamepad"></i>  Jeux 
			 
			</a>
			<a href="#" class="auth-link">
				<i class="fas fa-cogs"></i>  Services 
			
			</a>
			<a href="#" class="auth-link">
				<i class="fas fa-info-circle"></i>  À propos 
			   
			</a>
			<a href="#" class="auth-link">
				<i class="fas fa-user-tie"></i> Amie
			   
			</a>
			<a href="#connection" class="auth-link">
				<i class="fas fa-sign-in-alt"></i> Connexion
			</a>
			<a href="#register" class="auth-link">
				<i class="fas fa-user-plus"></i>   Inscription 
			</a>
			
		</div>
		<div id='scoreboard'>
			<h1 id='scores'>0-0</h1>
			<h1 id='title'>3D PONG</h1>
			<h2 id='winnerBoard'>First to 7 wins!</h2>
			<h3>A - move left
			<br>D - move right</h3>

		</div>
		<div id='gameCanvas'></div>
		<script src='./scripts/three.min.js'></script>
		<script src='./scripts/keyboard.js'></script>
		<script src='./scripts/game.js'></script>
	</body>
</html>