{% load static %}

<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/style_ai.css' %}">
    <title>AI</title>
</head>
<body>
    <div class="container text-center">
        <h1>Jeu de Pong AI</h1>
        <canvas id="pongCanvas"></canvas>
        <p>Contrôlez le joueur de gauche avec les flèches haut et bas</p>
        
    </div>
</body>
</html>
