{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "choix"%}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <header class="header">
        <ul id="menu-demo2">
            <li><a href="#">Languages</a>
                <ul>
                    <li><a href="/fr/">Français</a></li>
                    <li><a href="/en/">English</a></li>
                    <li><a href="/ug/">ئۇيغۇرچە</a></li>
                    <li><a href="/ar/">العربية</a></li>
                </ul>
            </li>
            <li><a href="#">Deconnexion</a>
            </li>
            </ul>
    </header>
    <video id="video-bg" autoplay muted loop>
      <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
    <source src="{% static 'videos/video.webm' %}" type="video/webm">
      Your browser does not support the video tag.
  </video>
<!-- Titre en haut de la page -->
<div class="container">
    <a href="#lobby/?id=3" class="button2">{% trans "Partie" %}</a>
    <a href="#create_tournament/?id=3" class="button3">{% trans "Tournoi" %}</a>
  
</div>
    <div class="footer">
        <p>&copy; ft_transcendence 2024 </p>
    </div>
    <div class="sidebar" id="mySidebar">
        <div class="avatar-container">
            <a href="#profil">
                <img id="avatar" src="{% static 'img/default-avatar.jpg' %}" alt="User Avatar" class="avatar">
            </a>
            <span id="userLogin" class="username">{{ request.user.username }}</span> 
        </div>
        <div class="links-container">
            <a href="#accueil" class="auth-link">
                <i class="fas fa-home"></i> {% trans "Accueil" %} 
            
            </a>
            <a href="#games_page" class="auth-link">
                <i class="fas fa-gamepad"></i>  {% trans "Jeux" %} 
            
            </a>
            <a href="#account_settings" class="auth-link">
                <i class="fas fa-cogs"></i>  {% trans "Parametres" %} 
            
            </a>
            <a href="#friends" class="auth-link">
                <i class="fas fa-user-tie"></i> {% trans "Amis" %}  
            </a>
            <a href="#about_us" class="auth-link">
                <i class="fas fa-info-circle"></i>  {% trans "A propos" %} 
              
            </a>    
        </div>
    </div>
</body>
</html>
