{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creation Tournoi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/createTournament.css' %}">
</head>
<body>
  <header class="header">
    <ul id="menu-demo2">
        <li><a href="#">Language</a>
            <ul>
                <li><a href="#fr">Francais</a></li>
                <li><a href="#en">Anglais</a></li>
                <li><a href="#ug">Ouïgour</a></li>
                <li><a href="#ar">Arabe</a></li>
            </ul>
        </li>
        <li><a href="#">Deconnexion</a>    
        </li>
    </ul>
</header>

<video id="video-bg" autoplay muted loop>
  <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
<source src="{% static 'videos/video.webm' %}" type="video/webm">
  Your browser does not support the video tag.
</video>

<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
         
          <h2 class="mb-4 framed-title" >creation tournois</h2>
          <form id="tournoiForm">
              <div class="form-group">
                  <label for="tournoie"></label>
                  <input type="text" class="form-control custom-input1" id="tournoie" placeholder="Nom du Tournois" ></div>
                  <div class="form-group">
                  <label for="joueur"></label>
                  <input type="text" class="form-control custom-input2" id="joueur" placeholder="Nombre de joueurs" ></div>
                  <div class="form-group">
                  <label for="Pseudo"></label>
                  <input type="text" class="form-control custom-input3" id="Pseudo" placeholder="Pseudo" ></div>
              <a class="button-un" type="submit">Creer le tournois</a>
          </form>
         
      </div>
  </div>
</div>

<div class="footer">
  <p>&copy; ft_transcendence 2024 </p>
</div>

<div class="sidebar" id="mySidebar">
  <div class="avatar-container">
      <a href="#profil">
          <img id="avatar" src="{{ request.user.avatar.url }}" alt="User Avatar" class="avatar">
      </a>
      <span id="userLogin" class="username">{{ request.user.username }}</span> 
  </div>
      <div class="links-container">
          <a href="#accueil" class="auth-link">
              <i class="fas fa-home"></i>  Accueil 
          
          </a>
          <a href="#games_page" class="auth-link">
              <i class="fas fa-gamepad"></i>  Jeux 
           
          </a>
          <a href="#account_settings" class="auth-link">
              <i class="fas fa-cogs"></i>  Parametres
          
          </a>
          <a href="#friends" class="auth-link">
              <i class="fas fa-user-tie"></i> Friends     
          </a>
          <a href="#about_us" class="auth-link">
              <i class="fas fa-info-circle"></i>  À propos 
             
          </a>   
      </div>
  </div>