<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enable 2FA</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Enable Two-Factor Authentication (2FA)</h2>
        <div class="text-center">
            <img src="data:image/png;base64,{{ qr_code_base64 }}" alt="QR Code">
        </div>
        <p class="text-center mt-3">Scan the QR code above with your Google Authenticator app.</p>
        <p class="text-center">Alternatively, you can enter this secret key manually: <strong>{{ otp_secret }}</strong></p>
        <form id="verifyOtpForm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="otp">Enter the OTP from your app to verify:</label>
                <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP" required>
            </div>
            <button type="submit" class="btn btn-primary">Verify OTP</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#verifyOtpForm').submit(function(event){
                event.preventDefault(); // Prevent the default form submission

                var formData = $(this).serialize(); // Serialize the form data

                $.ajax({
                    url: '/verify-otp/', // URL for OTP verification
                    method: 'POST',
                    data: formData,
                    success: function(response){
                        alert('2FA Enabled Successfully!');
                        window.location.href = '/game_welcome_view/';
                    },
                    error: function(xhr, status, error){
                        console.error(xhr.responseText);
                        // Handle error case
                        alert('Invalid OTP. Please try again.');
                    }
                });
            });
        });
    </script>
</body>
</html>

