{% load static %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcendence</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    {% csrf_token %}
    <header class="header">
        <ul id="menu-demo2">
            <li>
                <a href="#logout">Déconnexion</a>
            </li>
            </ul>
    </header>
        <video id="video-bg" autoplay muted loop>
            <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
            <source src="{% static 'videos/video.webm' %}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    <div class="intro">
        <div class="circles-container" id="circlesContainer">
           
        </div>
        <div class="additional-button">
            <button class="btn btn-success" onclick="inviteFriend()">Inviter un ami</button>
            <button class="btn btn-danger" onclick="promptDeleteFriend()">Supprimer un ami</button>
        </div>
        <!--<div class="additional-button" id="pendingInvitations"></div>
        <div class="additional-button" id="receivedInvitations"></div> -->
    </div>
    <div class="footer">
        <p>&copy; ft_transcendence 2024 </p>
    </div>
    <div class="sidebar" id="mySidebar">
        <div class="avatar-container">
            <a href="#profil">
                <img id="avatar" src="{{ request.user.avatar.url }}" alt="User Avatar" class="avatar">
            </a>
             <span id="userLogin" class="username"></span> 
        </div>
        <div class="links-container">
            <a href="#accueil" class="auth-link">
                <i class="fas fa-home"></i> Accueil
            
            </a>
            <a href="#games_page" class="auth-link">
                <i class="fas fa-gamepad"></i> Jeux 
            
            </a>
            <a href="#account_settings" class="auth-link">
                <i class="fas fa-cogs"></i>  Paramètres
            
            </a>
            <a href="#friends" class="auth-link">
                <i class="fas fa-user-tie"></i> Amis
            </a>
            <a href="#about_us" class="auth-link">
                <i class="fas fa-info-circle"></i> A propos
              
            </a>  
    </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>-->
</body>
</html>


<!-- 
inviteFriend() : Cette fonction ouvre une fenêtre modale avec un champ texte pour entrer le nom d'utilisateur de l'ami à inviter. Si l'utilisateur clique sur "Envoyer l'invitation", la fonction sendInvitationToBackend(username) est appelée pour envoyer l'invitation au backend.

sendInvitationToBackend(username) : Cette fonction envoie une demande POST au backend pour envoyer une invitation à l'utilisateur spécifié. Si la réponse est un succès, un message de succès est affiché avec le nom de l'utilisateur invité.

acceptInvitation(id, username) : Cette fonction simule l'acceptation d'une invitation. Elle envoie une demande POST au backend pour accepter l'invitation. Si la réponse est un succès, un message de succès est affiché.

declineInvitation(id, username) : Cette fonction simule le refus d'une invitation. Elle envoie une demande POST au backend pour décliner l'invitation. Si la réponse est un succès, un message est affiché.

addFriendToUI(username, status, avatarUrl) : Cette fonction ajoute un nouvel ami à l'interface utilisateur. Elle crée un nouvel élément HTML avec le nom d'utilisateur, le statut et l'URL de l'avatar de l'ami, puis l'ajoute au conteneur des cercles d'avatar.

promptDeleteFriend() : Cette fonction ouvre une fenêtre modale avec un champ texte pour entrer le nom d'utilisateur de l'ami à supprimer. Si l'utilisateur clique sur "Supprimer", la fonction deleteFriend(username) est appelée pour supprimer l'ami de l'interface utilisateur.

deleteFriend(username) -->