
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Connexion" %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!-- Custom CSS -->
    <video id="video-bg" autoplay muted loop>
        <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
    </video>  
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">{% trans "Connexion" %}</h2>
        <form id="loginForm" method="post">
            {% csrf_token %}
            <div id="error-message" class="alert alert-danger" style="display: none;"></div>
            <div class="form-group">
                <label for="username">Username*</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password*</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <p>{% trans "Vous n'avez pas de compte ? Créez-en un" %} <a href="#register">Ici</a>!</p> <!-- #register ne fonctionne pas-->
            <button type="submit" class="btn btn-success">{% trans "Envoyer" %}</button>
        </form>
    </div>
    
</body>
</html>
