{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Connexion" %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <video id="video-bg" autoplay muted loop>
        <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
        <source src="{% static 'videos/video.webm' %}" type="video/webm">
        Your browser does not support the video tag.
    </video> 
    <header class="header">
        <ul id="menu-demo2">
            <li><a href="#">Languages</a>
                <ul>
                    <li><a href="/fr/">Français</a></li>
                    <li><a href="/en/">English</a></li>
                    <li><a href="/ug/">ئۇيغۇرچە</a></li>
                    <li><a href="/ar/">العربية</a></li>
                </ul>
            </li>
            <li><a href="#">Deconnexion</a>
            </li>
            </ul>
    </header>
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <h2 class="mb-4 text-center">{% trans "Connexion" %}</h2>
                    <form id="loginForm" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Entrez votre nom d'utilisateur" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de Passe</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" required>
                            <div class="register-text">
                                <p>Vous n'avez pas de compte? Créez-en un 
                                <a class="register-link" href="#register">ici</a>!
                            </div>
                        </div>
                        <a class="button-un" href="#accueil">{% trans "Se connecter" %}</a>
                        <a id="intra42Login" class="button-deux" href="#intra42login">{% trans "Connexion via 42" %}</a>
                    </form>
            </div>
        </div>
    </div>

</body>
</html>
