{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Table de Ping-Pong 3D</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style_3d.css' %}">
</head>
<body>
    <video id="video-bg" autoplay muted loop>
        <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
        <source src="{% static 'videos/video.webm' %}" type="video/webm">
        Your browser does not support the video tag.
      </video>
    <div id="score-container">
        <div id="score"></div>
        <div id="victory-message"></div>
    </div>

    <div id="movement-container">
        <div id="player1-movement"></div>
        <div id="player2-movement"></div>
    </div>

    <div class="sidebar" id="mySidebar">
        <a href="#acceuil" class="auth-link">
            <i class="fas fa-home"></i>  Accueil 
        
        </a>
        <a href="#games" class="auth-link">
            <i class="fas fa-gamepad"></i>  Jeux 
         
        </a>
        <a href="#" class="auth-link">
            <i class="fas fa-cogs"></i>  Services 
        
        </a>
        <a href="#" class="auth-link">
            <i class="fas fa-info-circle"></i>  À propos 
           
        </a>
        <a href="#" class="auth-link">
            <i class="fas fa-user-tie"></i> Amie
           
        </a>
        <a href="#login" class="auth-link">
            <i class="fas fa-sign-in-alt"></i> Connexion
        </a>
        <a href="#register" class="auth-link">
            <i class="fas fa-user-plus"></i>   Inscription 
        </a>
        <!-- <div id='score-container'>
			<h1 id='scores'>0-0</h1>
			<h1 id='title'>3D PONG</h1>
			<h2 id='winnerBoard'>First to 7 wins!</h2>
			<h3>A - move left
			<br>D - move right</h3>

		</div> -->
        <div id='gameCanvas'></div>
    </div> 
<audio id="arbitre.mp3" preload="auto"></audio>

</body>
</html>