{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style_profil.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
</head>
<body>
    <header class="header">
        <ul id="menu-demo2">
            <li><a href="#logout">Deconnexion</a>
            </li>
            </ul>
    </header>
    <video id="video-bg" autoplay muted loop>
        <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
        <source src="{% static 'videos/video.webm' %}" type="video/webm">
        Your browser does not support the video tag.
    </video>
    
    <div class="container container-custom">
        <!-- First row with three buttons -->
        <div class="row mb-4" id="square1">
            <div class="col text-center">
                <a class="btn-custom-1" data-tab="tab1">Pong AI</a>
                <a class="btn-custom-1" data-tab="tab2">Classic Pong</a>
                <a class="btn-custom-1" data-tab="tab3">Memory</a>
            </div>
        </div>
        
        <!-- Second row with three circles and one table -->
        <div class="row mb-4" id="square2">
            <div class="col-md-4 d-flex justify-content-center align-items-center flex-column" >
                <div class="circle circle-1 mb-3" id="1winner">Username 1</div>
                <div class="circle circle-2 mb-3" id="2winner">Username 2</div>
                <div class="circle circle-3 mb-3" id="3winner">Username 3</div>
            </div>
            <div class="col-md-8" >
                <h4 class="text-center-gris-fonce">Classement Général</h4>
                <table class="table table-bordered table-custom-1">
                    <thead>
                        <tr>
                            <th>Classement</th>
                            <th>Joueur</th>
                            <th>Score</th>
                            <th>Parties jouées</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Repeat for 7 rows -->
                        <tr><td id="rank1">Data</td ><td id="id1">Data</td><td id="score-classement1">Data</td><td id="nbr-partie1">Data</td></tr>
                        <tr><td id="rank2">Data</td ><td id="id2">Data</td><td id="score-classement2">Data</td><td id="nbr-partie2">Data</td></tr>
                        <tr><td id="rank3">Data</td ><td id="id3">Data</td><td id="score-classement3">Data</td><td id="nbr-partie3">Data</td></tr>
                        <tr><td id="rank4">Data</td ><td id="id4">Data</td><td id="score-classement4">Data</td><td id="nbr-partie4">Data</td></tr>
                        <tr><td id="rank5">Data</td ><td id="id5">Data</td><td id="score-classement5">Data</td><td id="nbr-partie5">Data</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- Third row with one table -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h4 class="text-center-gris-fonce">Mes Données</h4>
                <table class="table table-bordered table-custom-2 ">
                    <thead>
                        <tr>
                            <th>Classement</th>
                            <th>Score</th>
                            <th>Temps moyen</th>
                            <th>Temps total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Repeat for 7 rows -->
                        <tr><td id="classement">Data</td><td id="score">Data</td><td  id="avg_time">Data</td><td id="total_time">Data</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- Fourth row with two tables -->
        <div class="row mb-4" row-margin-left id="square1">
            <div class="col-md-6">
                <h4 class="text-center-gris-fonce">Statistiques Globales</h4>
                <table class="table table-bordered table-custom-3">
                    <thead>
                        <tr>
                            <th>Parties jouées</th>
                            <th>Tournois joués</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Repeat for 7 rows -->
                        <tr><td id="partie_jouee"></td><td id="tournoi_joue"></td></tr>
                        <tr><td><canvas  id="myChart1"></canvas></td><td><canvas  id="myChart2" ></canvas></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4 class="text-center-gris-fonce">Historique du Jeu</h4>
                <table class="table table-bordered table-custom-4">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Temps de Jeu</th>
                            <th>Adversaire</th>
                            <th>Gagnant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Repeat for 7 rows -->
                        <tr><td id="score0">Data</td><td id="time0">Data</td><td id="adversary0">Data</td><td id="winner0">Data</td></tr>
                        <tr><td id="score1">Data</td><td id="time1">Data</td><td id="adversary1">Data</td><td id="winner1">Data</td></tr>
                        <tr><td id="score2">Data</td><td id="time2">Data</td><td id="adversary2">Data</td><td id="winner2">Data</td></tr>
                        <tr><td id="score3">Data</td><td id="time3">Data</td><td id="adversary3">Data</td><td id="winner3">Data</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="sidebar" id="mySidebar">
            <div class="avatar-container">
                <a href="#profil">
                    <img id="avatar" src="{% static 'img/default-avatar.jpg' %}" alt="User Avatar" class="avatar">
                </a>
                <span id="userLogin" class="username">{{ request.user.username }}</span>  
            </div>
            <div class="links-container">
                <a href="#accueil" class="auth-link">
                    <i class="fas fa-home"></i> Accueil 
                
                </a>
                <a href="#games_page" class="auth-link">
                    <i class="fas fa-gamepad"></i>  Jeux 
                
                </a>
                <a href="#account_settings" class="auth-link">
                    <i class="fas fa-cogs"></i>  Parametres 
                
                </a>
                <a href="#friends" class="auth-link">
                    <i class="fas fa-user-tie"></i> Amis  
                </a>
                <a href="#about_us" class="auth-link">
                    <i class="fas fa-info-circle"></i>  A propos 
                  
                </a>    
            </div>
        </div>

    </body>
    </html>