{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Profil" %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style_profil.css' %}">
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
</head>
<body>
    <header class="header">
        <ul id="menu-demo2">
            <li><a href="#">Languages</a>
                <ul>
                    <li><a href="/fr/">Français</a></li>
                    <li><a href="/en/">English</a></li>
                    <li><a href="/ug/">ئۇيغۇرچە</a></li>
                    <li><a href="/ar/">العربية</a></li>
                </ul>
            </li>
            <li><a href="#">Deconnexion</a>
            </li>
            </ul>
    </header>
    <video id="video-bg" autoplay muted loop>
        <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
        <source src="{% static 'videos/video.webm' %}" type="video/webm">
        Your browser does not support the video tag.
    </video>
        <div class="transparent-premier" id="square1">
            <a  class="tab-link" data-tab="tab1">Pong AI</a>
            <a  class="tab-link" data-tab="tab2">Classic Pong</a>
            <a  class="tab-link" data-tab="tab3">Memory</a>

            <!-- <div class="transparent-premier" id="square1"> -->
                <div class="ranking-circle">
                    <div class="circle-content">
                        <!-- Ici vous pourrez ajouter dynamiquement le contenu, e.g., premier joueur ou score le plus élevé -->
                        <p class="circle-text">{% trans "Classement" %}</p>
                        <p class="circle-score" id="classement">1er</p>
                    </div>
                </div>
           
                    <table class="table1">
                        <thead>
                            <tr>
                                <th>{% trans "Temps moyen" %}</th>
                                <th>{% trans "Temps total" %}</th>
                                <th>{% trans "Meilleur score" %}</th>
                                <th>{% trans "Pire score" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-table" id="temp-moyen"></td>
                                <td class="text-table" id="temp-total"></td>
                                <td class="text-table" id="meilleur-score"></td>
                                <td class="text-table" id="pire-score"></td>
                            </tr>
                        </tbody>
                    </table>
         
            
                    <div class="table2">
                    <table >
                        <thead>
                            <tr>
                                <th>Partie jouée</th>
                                <th>Tournoie joué</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-table" id="partie-jouee">5</td>
                                <td class="text-table" id="tournoie-jouee">5</td>
                            </tr>
                            <tr >
                                <td > <canvas  id="myChart1"></canvas></td>
                                <td > <canvas  id="myChart2" ></canvas></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                        <table class="table3">
                        <thead>
                            <tr>
                                <th>Score</th>
                                <th>Temps</th>
                                <th>Adversaires</th>
                                <th>Gagnant</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-table" id="score1">10</td>
                                <td class="text-table" id="temp1">2 min</td>
                                <td class="text-table" id="adversaire1">imraoui</td>
                                <td class="text-table" id="gagnant1">3</td>
                            </tr>
                            <tr>
                                <td class="text-table" id="score2">10</td>
                                <td class="text-table" id="temp2">2 min</td>
                                <td class="text-table" id="adversaire2">imraoui</td>
                                <td class="text-table" id="gagnant2">3</td>
                            </tr>
                            <tr>
                                <td class="text-table" id="score3">10</td>
                                <td class="text-table" id="temp3">2 min</td>
                                <td class="text-table" id="adversaire3">imraoui</td>
                                <td class="text-table" id="gagnant3">3</td>
                            </tr>
                            <tr>
                                <td class="text-table" id="score4">10</td>
                                <td class="text-table" id="temp4">2 min</td>
                                <td class="text-table" id="adversaire4">imraoui</td>
                                <td class="text-table" id="gagnant4">3</td>
                            </tr>
                            <tr>
                                <td class="text-table" id="score5">10</td>
                                <td class="text-table" id="temp5">2 min</td>
                                <td class="text-table" id="adversaire5">imraoui</td>
                                <td class="text-table" id="gagnant5">3</td>
                            </tr>
                        </tbody>
                    </table>
                  
                    <div class="transparent-deuxiemme" id="square2">
                        <div class="classement">
                            <h3 class="general">Classement général</h3>
                            <div class="top3">
                                <div id="1gagnat" class="cercle"></div>
                                <div id="2gagnat" class="cercle1"></div>
                                <div id="3gagnat" class="cercle2"></div>
                            </div>
                        </div>
                        <table class="donnees">
                            <thead>
                                <tr>
                                    <td colspan="4">Autres performances</td>
                                </tr>
                                <tr>
                                    <th>Username</th>
                                    <th>Classement</th>
                                    <th>Score</th>
                                    <th>Partie jouee</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <!-- Les données seront récupérées de la base de données et remplies ici -->
                                    <td id="id1">barbara</td>
                                    <td id="classement1">2</td>
                                    <td id="score-classemet1">150</td>
                                    <td id="nbr-parti1">2</td>
                                </tr>
                                <tr>
                                    <td id="id2">parida</td>
                                    <td id="classement2">3</td>
                                    <td id="score-classemet2">150</td>
                                    <td id="nbr-parti2">3</td>
                                </tr>
                                <tr>
                                    <td id="id3">hinda</td>
                                    <td id="classement3">4</td>
                                    <td id="score-classemet3">150</td>
                                    <td id="nbr-parti3">3</td>
                                </tr>
                                <tr>
                                    <td id="id4">marin</td>
                                    <td id="classement4">5</td>
                                    <td id="score-classemet4">150</td>
                                    <td id="nbr-parti4">3</td>
                                </tr>
                                <tr>
                                    <td id="id5">imen</td>
                                    <td id="classement5">6</td>
                                    <td id="score-classemet4">150</td>
                                    <td id="nbr-parti5">3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
    </div>
    <!-- <div class="footer">
        <p>&copy; ft_transcendence 2024 </p>
    </div> -->
        <div class="sidebar" id="mySidebar">
            <div class="avatar-container">
                <a href="#profil">
                    <img id="avatar" src="{% static 'img/default-avatar.jpg' %}" alt="User Avatar" class="avatar">
                </a>
                <span id="userLogin" class="username">{{ request.user.username }}</span>  
            </div>
            <div class="links-container">
                <a href="#accueil" class="auth-link">
                    <i class="fas fa-home"></i> {% trans "Accueil" %} 
                
                </a>
                <a href="#games_page" class="auth-link">
                    <i class="fas fa-gamepad"></i>  {% trans "Jeux" %} 
                
                </a>
                <a href="#account_settings" class="auth-link">
                    <i class="fas fa-cogs"></i>  {% trans "Parametres" %} 
                
                </a>
                <a href="#friends" class="auth-link">
                    <i class="fas fa-user-tie"></i> {% trans "Amis" %}  
                </a>
                <a href="#about_us" class="auth-link">
                    <i class="fas fa-info-circle"></i>  {% trans "A propos" %} 
                  
                </a>    
            </div>
        </div>

    </body>
    </html>