<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h2>Welcome, <span id="username"></span>!</h2>
            <p>You are now logged in.</p>
        </div>
         <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
       {% comment %}{% load static %}
        <script src="{% static 'protected.js' %}"></script>
        <script>async function getUserInfo() {
	const response = await fetch('/api/user_info/'); 
	if (response.ok) {
	const data = await response.json();
	document.getElementById('user_info').innerHTML = `
		<p>Hello, ${data.username}</p>
		<p>Your First Name is ${data.first_name}</p>
		<p>Your Last Name is ${data.last_name}</p>
		<p>Your Email is ${data.email}</p>  
	`;
	} else {
	console.error('Error fetching user info:', response.statusText);
	}
}

getUserInfo();
        </script>{% endcomment %}
    </body>
</html>