.home {
    padding-right: 15px;
    padding-left: 15px;
}

label {
    font-weight: bold;
    padding: 10px 0 10px 0;
    font-size: 14px;
    color: #2c2c34;
}

.config-number {
    width: 48px;
}

.config-input {
    width: 48*3px;
}

