/******************avatar**********************/
.circles-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
  }
  
  .friend-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .friend-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .friend-status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  
  .friend-name {
    margin-top: -1px;
    font-size: 14px;
    color: #5e5555; /* Couleur grise */
    font-weight: bold; /* Texte en gras */
  }
  /* Bouton en bas */
  .additional-button {
    text-align: center; /* Centrer le bouton horizontalement */
    padding: 20px; /* Espacement autour du bouton */
  }
  /* Styles pour l'introduction */
  .texte {
    color: #228b63;
    text-align: center;
    font-size: 2.5rem; /* Taille du texte augmentée */
  }
  .intro {
    position: absolute; /* Positionnement absolu */
    top: 150px; /* Distance du haut */
    left: 30%; /* Distance du côté gauche pour ne pas superposer le menu */
    width: 40%; /* Largeur fixe pour un carré */
    color: #000000; /* Couleur du texte */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
    max-height: calc(100vh - 200px); /* Ajuste la hauteur du contenu pour tenir compte de la barre de navigation et du footer */
    background-color: rgba(110, 111, 116, 0.5); /* Fond semi-transparent */
  }
  .circles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  .circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 10px;
    position: relative;
    color: white;
  }
  .status {
    position: absolute;
    bottom: -20px;
    font-size: 1rem;
  }
  
  /* Media Queries pour réactivité */
  @media (max-width: 768px) {
    .intro {
        top: auto;
        left: auto;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        font-size: 1rem;
    }
    .texte {
        font-size: 1.5rem;
    }
  }