/* css arriee plans video*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligner les vidéos en bas */
    height: 70%;
}
/* pour Aligner les vidéos avec un tableaux */
table {
    width: 30%;
    border-collapse: collapse;
}

td {
    width: 50%;
    vertical-align: middle; /* Aligner les vidéos verticalement */
    text-align: center; /* Centrer horizontalement */
    height: 300%; 
    overflow: hidden; /* Masquer tout débordement de contenu */
}
.column1 {
    background-color: #643206; /* Couleur rose */
}   

.column2 {
    background-color: #9e076c; /* Couleur verte */
}
video {
    width: 100%; /* Ajuster la largeur à 100% du conteneur */
    height: 100%; /* Ajuster la hauteur à 100% du conteneur */
    object-fit: cover; /* Ajuster l'objet vidéo pour couvrir toute la zone */
}



/* Styles CSS  pour le menu latéral */
.sidebar {
    height: 100%;
    width: 250px; /* Largeur fixe du menu latéral */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgba(110, 111, 116, 0.5); /* Fond semi-transparent pour le menu latéral */
    color: white; /* Couleur du texte dans le menu latéral */
}

.sidebar a {
    text-decoration: none;
    display: block;
    margin-bottom: 40px; /* Ajoute un espace entre les éléments */
}

.sidebar i {
    width: 50px; /* Largeur fixe pour toutes les icônes */
    height: 50px; /* Hauteur fixe pour toutes les icônes */
    font-size: 50px; /* Taille de police de l'icône */
    line-height: 50px; /* Hauteur de ligne égale à la hauteur de l'icône */
    text-align: center; /* Centrer l'icône horizontalement */
    vertical-align: middle; /* Alignement vertical au centre */
    padding-left: 20px; /* Ajoute un espacement à gauche de l'icône */
    color :rgb(88, 117, 88);
}
.auth-link {
    color: #5e5555; /* Définir la couleur en gris */
    font-weight: bold; /* Optionnel : ajuster la graisse du texte si nécessaire */
    display: inline-block;
    align-items: center; /* Aligner les éléments verticalement */
}


.auth-link i {
    padding-right: 20px; /* Décalage de 5 pixels vers la gauche pour l'icône */
}
/* pour introduction */
.texte {
color: #228b63;
}
.texte {
color: #228b63;
}
.intro {
    position: absolute; /* Positionnement par rapport au conteneur parent */
    top: 100px; /* Distance du haut */
    left: 260px; /* Distance du côté gauche pour ne pas superposer le menu */
    width: calc(100% - 260px); /* Largeur ajustée pour ne pas superposer le menu */
    padding: 40px;
    background: rgba(255, 255, 255, 0.8); /* Fond semi-transparent blanc */
    color: #000000; /* Couleur du texte */
    box-sizing: border-box;
}

/* Ajouter des styles pour garantir la visibilité et l'esthétique du texte */
.intro h2, .intro p {
    margin: 20px 0;
}     