 /******************les 2 cadre trasparent**********************/
 .transparent-premier {
    height: 100%;
    width: 350px; /* Largeur fixe du menu latéral */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgba(110, 111, 116, 0.5); /* Fond semi-transparent pour le menu latéral */
    color: white; /* Couleur du texte dans le menu latéral */
  }
  .transparent-deuxiemme {
    height: 100%;
    width: 500px; /* Largeur fixe du menu latéral */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color:  rgba(214, 211, 211, 0.5); /* Fond semi-transparent pour le menu latéral */
    color: white; /* Couleur du texte dans le menu latéral */
    border-radius: 60px; /* Ajoute des coins arrondis aux carrés */
  
  }
  /* Position spécifique pour chaque carré */
  #square1 {
    width: 1500px; /* Largeur spécifique du carré */
    height: 700px; /* Hauteur spécifique du carré */
    top: 15%; /* Ajustez cette valeur pour positionner le carré */
    left: 20%; /* Ajustez cette valeur pour positionner le carré */
  }
  
  #square2 {
    width: 500px; /* Largeur spécifique du carré */
    height: 600px; /* Hauteur spécifique du carré */
    top: 24%; /* Ajustez cette valeur pour positionner le carré */
    left: 70%; /* Ajustez cette valeur pour positionner le carré */
  }
  /*************************3 bouton de jeux***********************************/
  .jeux {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
    color: white;
    background-color: #60666e;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: -100px; /* Décaler vers le haut */
    margin-left: 150px; /* Décaler vers la droite */
  }
  
  .jeux:hover {
  background-color: #9afada;
  }
  /**************style crecle classement et les deux rectangle**********/
  /************************cercle classement*********/
  .ranking-circle {
  position: absolute;
  top: 100px; /* Distance du haut de l'élément parent */
  left: 50px; /* Distance de la gauche de l'élément parent */
  width: 130px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  }
  
  .circle-content {
  text-align: center;
  }
  
  .circle-text, .circle-score {
  margin: 0;
  color: #5e5555;
  font-weight: bold;
  }
  .text-table{
  margin: 0;
  color: #5e5555;
  font-weight: bold;
  }
  /**********************rectangle de temps de jeux ************************/
  
  
  table {
    background-color: rgba(214, 211, 211, 0.5);
    border-collapse: collapse;
    border-radius: 15px; /* Ajout de coins arrondis */
    overflow: hidden; /* Masquer les bordures arrondies */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optionnel : Ajouter une ombre pour un effet visuel */
  }
  .table1 {
    width: 40%;
    position: absolute;
    top: 130px;
    left: 20%;
  }
  
  .table2 {
    position: absolute;
    width: 40%; /* Largeur augmentée */
    top: 300px;
    left: 2%;
   
  }
  .table3 {
    width: 30%; /* Largeur augmentée */
    height: 55%; /* Hauteur augmentée */
    position: absolute;
    top: 300px;
    left: 33%;
   
  }
  th, td {
    /* border: 1px solid #131212; */
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #367c39;
  }
  
  
  
  /****************************rectangle partie et tournoie*******************/
  
  .ranking-partie {
  position: absolute;
  top: 275px; /* Distance du haut de l'élément parent */
  left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  text-align: center; /* Centre le texte horizontalement pour les éléments inline */
  }
  .ranking-tournoie {
  position: absolute;
  top: 275px; /* Distance du haut de l'élément parent */
  left: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  text-align: center; /* Centre le texte horizontalement pour les éléments inline */
  }  
  /*******************2emme classement************************/
  .classement {
  text-align: center;
  margin: 0;
  color: #5e5555;
  font-weight: bold;
  }
  
  .cercle {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  position: absolute;
  left: 10px;
  top: 130px;
  }
  .cercle1 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  position: absolute;
  left: 350px;
  top: 130px;
  }
  .cercle2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  margin: 20px;
  position: absolute;
  left: 180px;
  top: 50px;
  }
  .donnees {
  margin-top: 20px;
  width: 200;
  height: 400;
  border-collapse: collapse;
  position: absolute; /* Positionnement absolu */
  top: 225px; /* Ajuster selon les besoins */
  left: 50%; /* Ajuster selon les besoins */
  transform: translateX(-50%); /* Centrer horizontalement */
  }
  .general {
  margin: 0;
  color: #5e5555;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 120px;
  }
  
  .donnees th, .donnees td {
  margin: 0;
  color: #5e5555;
  font-weight: bold;
  }
  
  .donnees th {
  background-color: #367c39;
  color: white; /* Couleur du texte en blanc */
  }
  
  canvas {
  width: 200px;  /* largeur */
  height: 270px; /* hauteur */
  }
  