<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <!-- Liens vers Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS personnalisé -->
    <style>
        /* Your CSS styles here */
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Connexion</h2>
        <form id="loginForm" action="{% url 'login' %}" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Entrez votre nom d'utilisateur" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" required>
            </div>
            <button type="submit" class="button">Se connecter</button>
            <a class="button" href="{% url 'inscription' %}">S'inscrire</a>
        </form>
    </div>

    <!-- Liens vers Bootstrap JS et jQuery (pour les fonctionnalités Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Script JavaScript pour gérer l'envoi du formulaire de connexion -->
    <script>
        $(document).ready(function(){
            // Add a click event listener to the "Se connecter" button
            $('.button[type="submit"]').click(function(event){
                event.preventDefault(); // Prevent the default form submission
    
                // Serialize the form data
                var formData = $('#loginForm').serialize();
    
                // Send an AJAX request to the login URL
                $.ajax({
                    url: '{% url "login" %}',
                    method: 'POST',
                    data: formData,
                    success: function(response){
                        // Handle the success response here
                        console.log(response);
                        // For example, you can redirect the user to another page
                        window.location.href = '/dashboard/';
                    },
                    error: function(xhr, status, error){
                        // Handle the error response here
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
</body>
</html>
