.user-item {
    width: 100%;
    max-width: 100px;
    min-height: 150px;
    background: #eee;
    margin: 10px 12px!important;
    display: inline-block;
    position: relative;
    text-align: center;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 3px;
    border: 1px solid #eee;
    transition: box-shadow, 0.3s;
}


.user-item-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    word-wrap: break-word;
}

.user-item-title {
	font-size: 14px;
    margin: 5px 0;
    color: #00babc;
}

.changelogs-list {
    display: flex;
    box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
}

.changelogs-list .changelog-item {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
}

.changelogs-list .changelog-item .changelog-main {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    padding: 0px 5px 0px 10px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.changelogs-list .changelog-item .changelog-main p.title code[data-positive] {
    color: #00babc;
    background: rgba(0, 186, 188, 0.15);
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 1px;
}

.changelogs-list .changelog-item .changelog-main p.content {
    padding-left: 25px;
}

.changelogs-list .changelog-item .changelog-middle {
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5px;
    transition: 0.2s all;
    width: 5px;
    background-color: #00babc;
}

.changelogs-list .changelog-item .changelog-left {
    text-align: right;
    margin-right: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10px;
}

.changelogs-list .changelog-item .changelog-left span {
    border: 1px solid #67676d;
    background-color: #fff;
    border-radius: 2px;
    padding: 3px 5px;
    max-width: 180px;
    height: 25px;
    right: 0px;
    position: relative;
    text-overflow: hidden;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}